.container {
    font-family: 'Roboto Condensed',sans-serif;
}
.form-group label{
    color: gray;
}

.form-group input{
    font-weight: 500;
}
.form-group input::placeholder{
    font-weight: 300;
    color: lightgrey;
}
thead th{
    font-weight: 400;
}
table tbody tr:hover{
    background-color: skyblue;
    cursor: pointer;
}

input.invalid{
    border-color: red;
} 